  .header {
    width: 80%;
	  border: solid 0px red;
	  border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	  height: 68px;
    top: 40px;
    margin: auto;
    justify-content:space-between;
    margin-top: 20px;
}  

  @media (max-width: 800px) {
    .header {
      flex: 100%;
      border: solid 2px yellow;

    }
  }
  