.linkpage {
  display: flex;
  margin: 10px;
}

.space {
  display: flex;
  margin: 10px;
}

.textcolor {
  font-family: Montserrat;
  font-size: 20px;
  color: #ff6060;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #ff6060;
}

@media (max-width: 500px) {
  .textcolor {
    display: flex;
    font-size: 10px;
  }
}
