.linkpage {
    display: flex;
    margin: 10px;
    border: solid 0px red;
    flex-direction: row;
}  

.space {
  display: flex;
  margin: 10px;
  border: solid 0px red;
}  

.textcolor {
  font-family: Montserrat;
  font-size: 24px;
  color: #FF6060;
  text-decoration: none;
}  

.active {
  border-bottom: 2px solid #FF6060;
}

@media (max-width: 700px) {
  .textcolor {
    display: flex;
    font-size: 12px;
    border: solid 0px red;
  }

  .space {
    display: flex;
    margin: 2px;
    border: solid 0px red;
  }  
}

@media (max-width: 280px) {
  .textcolor {
    font-size: 17px;
    margin-top: 10px;
    margin-right: 5px;
  }
}